.btn-update{
    background: orange; 
}
.btn-del{
    background: red;
}

.blue{
    background: blue ;
    padding:3px ;
    border-radius: 3px;
    color:white; 
}
.red{
    background: red;
    padding:3px ;
    border-radius: 3px;
    color:white; 
}